.cart {
  padding: 200px 0px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 90px;
    .car__content__wrapper {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
    .cart__creat {
      font-family: Poppins;
      @media only screen and (min-width: 850px) {
        display: none;
      }
    }
    .cart__titles {
      display: none;
      height: 80px;
      padding: 0px 20px;
      box-shadow: 0px 0px 5px 5px #ddd;
      border-radius: 5px;
      align-items: center;
      justify-content: space-between;
      @media only screen and (min-width: 850px) {
        display: flex;
      }
      h3 {
        color: rgb(34, 38, 42);
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0%;
      }
      &__wrapper {
        display: flex;
        align-items: center;
        gap: 135px;
      }
    }
    .cart__title__wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media only screen and (min-width: 850px) {
        box-shadow: 0px 0px 5px 5px #ddd;
        height: 80px;
        border-radius: 5px;
        padding: 0px 20px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
      }
      .img__title {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        box-shadow: 0px 0px 2px 2px gray;
        padding: 5px;

        @media only screen and (min-width: 850px) {
          width: 400px;
          display: flex;
          justify-content: flex-start;
          gap: 20px;
          align-items: center;
          box-shadow: none;
        }
        button {
          border: none;
          outline: none;
          background-color: transparent;
          svg {
            font-size: 20px;
            color: red;
            opacity: 0.7;
          }
        }
        img {
          width: 100px;
          height: 50px;
          background-color: white;
          object-fit: contain;
        }
        p {
          color: rgb(38, 38, 38);
          font-family: Poppins;
          font-size: 18px;
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0%;
        }
      }
      .cart__price__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        box-shadow: 0px 0px 2px 2px gray;
        padding: 5px;
        @media only screen and (min-width: 850px) {
          width: 500px;
          height: 50px;
          display: flex;
          align-items: center;
          gap: 115px;
          box-shadow: none;
        }
        .cart__price {
          background-color: white;
          width: 80px;
          color: rgb(38, 38, 38);
          font-family: Poppins;
          font-size: 18px;
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0%;
        }
        .cart__incdec {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 124px;
          padding: 0px 20px;
          height: 46px;
          background: rgb(246, 247, 248);
          button {
            border: none;
            font-size: 20px;
            outline: none;
            background-color: transparent;
            color: rgb(51, 160, 255);
          }
          span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15px;
            color: rgb(38, 38, 38);
            font-family: Poppins;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0%;
          }
        }
        .cart__subtotal {
          width: 80px;
          background-color: white;
          color: rgb(38, 38, 38);
          font-family: Poppins;
          font-size: 18px;
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0%;
        }
      }
    }
    .cart__wrapper__bottom {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @media only screen and (min-width: 850px) {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
      }
      .cart__btns {
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media only screen and (min-width: 700px) {
          flex-direction: row;
          gap: 0;
        }
        .cart__btns__btn {
          width: 200px;
          @media only screen and (min-width: 700px) {
            border-radius: 0px;
            height: 60px;
            border-radius: 0px 5px 5px 0px;
            width: 100px;
          }
        }
        .cart__btns__input {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 100%;
          height: 50px;
          max-width: 400px;
          border-radius: 5px;
          padding: 10px;
          outline: none;

          @media only screen and (min-width: 700px) {
            border-radius: 5px 0px 0px 5px;
            padding: 0px 0px 0px 10px;
            height: 60px;
            width: 369px;
            border: 1px solid #ddd;
          }
        }
        .cart__btns__input::placeholder {
          color: rgb(38, 38, 38);
          font-family: Poppins;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0%;
        }
      }
      .card__input__total {
        width: 100%;
        max-width: 377px;
        height: 350px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 2px 2px #ddd;
        .total__wrapper {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .subtotal__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
              color: rgb(38, 38, 38);
              font-family: Poppins;
              font-size: 18px;
              font-weight: 400;
              line-height: 27px;
              letter-spacing: 0%;
            }
          }
        }
        .ToTal__wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
          h2 {
            color: rgb(34, 38, 42);
            font-family: Poppins;
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: 0%;
          }
          p {
            color: rgb(34, 38, 42);
            font-family: Poppins;
            font-size: 20px;
            font-weight: 500;
            line-height: 45px;
            letter-spacing: 0%;
          }
        }
        .to__payment__link {
          width: 100%;
          height: 50px;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgb(51, 160, 255);
          color: rgb(255, 255, 255);
          font-family: Poppins;
          font-size: 18px;
          font-weight: 500;
          line-height: 27px;
          letter-spacing: 0%;
        }
      }
    }
  }
}
