.navbartop {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #ddd;
  align-items: center;
  height: 40px;
  background-color: white;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__select {
      background-color: transparent;
      border: none;
      outline: none;
      color: rgb(38, 38, 38);
      font-family: Poppins;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0%;
    }
    &__left {
      display: flex;
      align-items: center;
      gap: 36px;
      .navbartop__svg {
        position: relative;
        font-size: 22px;
        color: rgb(0, 0, 0);
      }
      .wishlist__length {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
        top: 3px;
        right: 330px;
        background-color: red;
        border-radius: 50%;
        font-size: 12px;
        font-family: Poppins;
        padding: 5px;
      }
      .cartsvg {
        position: relative;
      }
      .cart__length {
        position: absolute;
        top: 3px;
        right: 270px;
        font-size: 12px;
        font-family: Poppins;
        padding: 5px;
        background-color: red;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .navbartop__text {
        display: none;
        color: rgb(38, 38, 38);
        font-family: Poppins;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        @media only screen and (min-width: 350px) {
          display: flex;
        }
      }
    }
  }
}
