.products__top {
  padding-top: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2 {
    color: rgb(34, 38, 42);
    font-family: Poppins;
    font-size: 35px;
    font-weight: 600;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 26px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    @media only screen and (min-width: 400px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    @media only screen and (min-width: 600px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
    @media only screen and (min-width: 750px) {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }
    li {
      width: 100px;
    }
  }
  .product__top__link {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0%;
    color: rgb(38, 38, 38);
    transition: 0.5s;
  }
  .product__top__link:active {
    color: rgb(51, 160, 255);
  }
}
.products {
  padding: 23px 0px 100px;
  width: 100%;
  background-color: red;
}
