.singleRoute {
  padding: 150px 0px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 80px;
    .singleRoute__top {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media only screen and (min-width: 1285px) {
        flex-direction: row;
      }
      gap: 30px;
      .singleRoute__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        @media only screen and (min-width: 1000px) {
          flex-direction: row;
        }
        .singleRoute__images {
          display: flex;
          flex-direction: column;
          gap: 90px;
          width: 600px;
          &__top {
            border: 2px solid #ddd;
            border-radius: 10px;
            padding: 10px;
            background-color: white;
            width: 100%;
            max-width: 600px;
            img {
              width: 100%;
              height: 271px;
              object-fit: cover;
            }
          }
          &__bottom {
            display: flex;
            align-items: center;
            gap: 10px;
            width: 100%;
            img {
              border: 1px solid #ddd;
              padding: 5px;
              width: 100%;
              max-width: 110px;
              height: 85px;
              background-color: white;
              object-fit: cover;
              border-radius: 8px;
            }
          }
        }
        .singleRoute__text__wrapper {
          width: 100%;
          max-width: 500px;
          display: flex;
          flex-direction: column;
          gap: 12px;
          h2 {
            color: rgb(34, 38, 42);
            font-family: Poppins;
            font-size: 24px;
            font-weight: 500;
            line-height: 36px;
            letter-spacing: 0%;
          }
          .seen__wrapper {
            display: flex;
            align-items: center;
            gap: 15px;
            img {
              width: 76px;
              height: 10px;
            }
            p {
              display: flex;
              align-items: center;
              gap: 5px;
              color: rgb(193, 200, 206);
              font-family: Poppins;
              font-size: 16px;
              font-weight: 400;
              line-height: 19px;
              letter-spacing: 0%;
            }
            .rewiev__link {
              color: rgb(51, 160, 255);
              font-family: Poppins;
              font-size: 16px;
              font-weight: 400;
              line-height: 19px;
              letter-spacing: 0%;
            }
          }
          .price__limit__wrapper {
            display: flex;
            align-items: center;
            gap: 20px;
            p {
              width: 60px;
              color: rgb(64, 191, 255);
              font-family: Poppins;
              font-size: 20px;
              font-weight: 700;
              line-height: 180%;
              letter-spacing: 0.5px;
            }
            del {
              color: rgb(144, 152, 177);
              font-family: Poppins;
              font-size: 14px;
              font-weight: 400;
              line-height: 150%;
              letter-spacing: 0.5px;
              text-decoration-line: line-through;
            }
            span {
              color: rgb(251, 113, 129);
              font-family: Poppins;
              font-size: 14px;
              font-weight: 700;
              line-height: 150%;
              letter-spacing: 0.5px;
            }
          }
          .stock__wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            p {
              color: rgb(38, 38, 38);
              font-family: Poppins;
              font-size: 14px;
              font-weight: 400;
              line-height: 21px;
              letter-spacing: 0%;
            }
          }
          .select__color {
            display: flex;
            align-items: center;
            gap: 20px;
            p {
              color: rgb(38, 38, 38);
              font-family: Poppins;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0%;
            }
            form {
              display: flex;
              align-items: center;
              gap: 10px;
              input {
                width: 24px;
                height: 24px;
                border: 2px solid rgb(0, 108, 255);
                opacity: 0.5;
              }
            }
            select {
              border: 2px solid rgb(241, 243, 244);
              width: 121.15px;
              height: 38.28px;
            }
            select option {
              padding: 0px 10px;
              background-color: red;
            }
          }
          .button__cart__wrapper {
            display: flex;
            align-items: center;
            gap: 50px;
            .buy__btn__wrapper {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 20px;
              background: rgb(246, 247, 248);
              width: 123.28px;
              height: 48.91px;
              button {
                border: none;
                outline: none;
                color: rgb(51, 160, 255);
                font-size: 25px;
                background-color: transparent;
              }
              p {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                max-width: 20px;
                color: rgb(38, 38, 38);
                font-family: Poppins;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0%;
              }
            }
            .addcart__wrapper {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              max-width: 150px;
              height: 50px;
              background: #ddd;
              gap: 20px;
              svg {
                font-size: 30px;
                color: rgb(51, 160, 255);
              }
              button {
                border: none;
                outline: none;
                background-color: transparent;
                color: rgb(51, 160, 255);
                font-family: Poppins;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0%;
              }
            }
            .like__svg {
              width: 48px;
              height: 48px;
              color: rgb(51, 160, 255);
              padding: 10px;
              border-radius: 5px;
              background-color: #ddd;
            }
          }
          .facebok__twitter__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .facebook {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              width: 100%;
              max-width: 244px;
              height: 48px;
              border-radius: 5px;
              background: rgb(56, 92, 142);
              p {
                color: rgb(255, 255, 255);
                font-family: Poppins;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0%;
              }
              svg {
                color: rgb(255, 255, 255);
              }
            }
            .Twitter {
              background: rgb(3, 169, 244);
            }
          }
        }
      }
    }
    .singleRoute__bottom {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 32px 208px 0px 32px;
      width: 100%;
      max-width: 990px;
      height: 350px;
      background: rgb(250, 250, 251);
      .tab__link {
        display: flex;
        align-items: center;
        gap: 78px;
        a {
          color: rgb(38, 38, 38);
          font-family: Poppins;
          font-size: 18px;
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0%;
        }
        a.active {
          color: rgb(46, 144, 229);
          text-decoration: underline;
        }
      }
      .singleRoute__bottom__text {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
    .singleRoute__bottom__title {
      color: rgb(34, 38, 42);
      font-family: Poppins;
      font-size: 35px;
      font-weight: 600;
      line-height: 53px;
      letter-spacing: 0%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
